body {
	background-color:  #eeeeee;
	text-align: center;
}

.feature {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 50px;
}

.subcribe-btn {
	background-color: #EC5D74;
	color: #FFF;
	padding: 10px 40px;
}

.subcribe-btn:hover {
	background-color: #FFFFFF;
}

.feature-list {
	text-align: left;
}